@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


:root {
  --dark-text: #D3D7DA;
  --text-surah: #424547;
  --dark-nav: #202121;
  --dark-background:#282A2B;
  --text-primary:#545454;
  --navbg: #f9f9f9;
  --text-secondary: #83888A;
  --hovercolor: #70A2B7;
  --background: #ffffff;
 
  /* --foreground: #171717; */
}

@theme inline {
  --color-dark-background: var(--dark-background);
  --color-dark-nav: var(--dark-nav);
  --color-dark-text: var(--dark-text);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navbg: var(--navbg);
  --color-surah: var(--text-surah);
  --color-text-secondary: var(--text-secondary);
  --color-hoverclr: var(--hovercolor);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lato: var(--font-lato);
  --font-merriweather: var(--font-merriweather);
  --color-text-primary:var(--text-primary);
}


@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
